header {
  background-color: rgb(103, 177, 241);
}

header h1 {
  color: white;
}

.description {
  background-color: rgb(103, 177, 241);
}

.bottom {
  color: white;
}

.leaderboard {
  border: none;
}

.rows {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.invisible {
  color: white;
}
